<a href="https://colab.research.google.com/github/clovesrocha/ETEPDLPC/blob/master/desafio3_sala_de_aula_invertida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#DESAFIO 3
#QUESTÃO 01
#ESTUDANTES: LUCILA
nota = float(input('Digite uma nota de zero a dez: '))
while (10<nota) or (0>nota):
  nota=float(input('Valor inválido. Digite uma nota de zero a dez: '))
else:
    print('A nota foi lançada com sucesso')

Digite uma nota de zero a dez: 13
Valor inválido. Digite uma nota de zero a dez: 5
A nota foi lançada com sucesso

In [1]:
#DESAFIO 3
#QUESTÃO 02
#ESTUDANTES: EDUARDO PRAXEDES
nome1 = str(input('Digite o nome do usuario: '))
nome2 = str(input('Digite a senha: '))
while (nome2 == nome1):
  print('A senha deve ser diferente do usuario!')
  nome1 = str(input('Digite o nome do usuario: '))
  nome2 = str(input('Digite a senha: '))
else:
  print('Ususario cadastrado!')

Digite o nome do usuario: du
Digite a senha: du
A senha deve ser diferente do usuario!
Digite o nome do usuario: edu
Digite a senha: praxedes
Ususario cadastrado!

In [13]:
#DESAFIO 3
#QUESTÃO 05
#ESTUDANTES: JOYCE COSTA

for i in range(20):
  print(i+1)
print('\n\n')
for i in range(20):
  print(i+1, end=' ')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20



1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20